:root {
    color-scheme: light;
}

body {
    background: #F1F5F9;
    font-family: sans-serif;
    line-height: 1.6em;
    margin: 1em auto;
    max-width: 800px;
}

main { padding: 1em; }
.dinkus {text-align: center;}
